<!-- Loads the path to your static files -->
{% extends 'search/base.html' %}
{% block title %}Searching{% endblock %}
{% block home_active %}active{% endblock %}
{% block body %}

<style>
    .form-signin{
    max-width: 500px;
    padding: 15px;
    margin:0 auto;
}
</style>
<script type="text/javascript" >
    function show(){
        var radios = document.getElementsByName("optradio");
        if(radios[2].checked==true){
            test.style.display="";
        }
        else{
            test.style.display="none";
        }
    }
</script>

<script type="text/javascript">
	var app = angular.module('app',["wui.date"]);
</script>


<div class="container-fluid">
    <form class="form-signin">
        <div class="panel panel-default">
            <div class="panel-body ">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#">指定交通工具</a></li>
                    <li><a href="#">推荐方案</a></li>
                </ul>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="start">出发城市</label>
                            <select class="form-control" id="start">
                                <option value="beijing" style="selected: selected">北京</option>
                                <option value="shanghai">上海</option>
                                <option value="haerbin">哈尔滨</option>
                                <option value="nanjing">南京</option>
                                <option value="chongqing">南昌</option>
                                <option value="shenyang">成都</option>
                                <option value="xiameng">厦门</option>
                                <option value="changsha">长沙</option>
                                <option value="guangahzou">广州</option>
                                <option value="shenzhen">深圳</option>
                                <option value="hongkong">香港</option>
                                <option value="kunming">昆明</option>
                                <option value="wulumuqi">乌鲁木齐</option>
                                <option value="lasa">拉萨</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="end">目标城市</label>
                            <select class="form-control" id="end">
                                <option value="beijing">北京</option>
                                <option value="shanghai" selected="selected">上海</option>
                                <option value="haerbin">哈尔滨</option>
                                <option value="nanjing">南京</option>
                                <option value="chongqing">南昌</option>
                                <option value="shenyang">成都</option>
                                <option value="xiameng">厦门</option>
                                <option value="changsha">长沙</option>
                                <option value="guangahzou">广州</option>
                                <option value="shenzhen">深圳</option>
                                <option value="hongkong">香港</option>
                                <option value="kunming">昆明</option>
                                <option value="wulumuqi">乌鲁木齐</option>
                                <option value="lasa">拉萨</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="start_time">出发时间</label>
                            <div style="margin: 0px;padding: 0px" class="wui-content">
                                <div style="margin: 0px;padding: 0px" class="wui-area">
                                    <wui-date format="yyyy-mm-dd hh:mm" placeholder="请选择或输入日期" id="date3" btns="{'ok':'确定','now':'此刻'}" ng-model="date3">
                                    </wui-date>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="start_time">&nbsp</label>
                            <div style="margin: 0px;padding: 0px" class="wui-content">
                                <div style="margin: 0px;padding: 0px" class="wui-area">
                                    <wui-date format="yyyy-mm-dd hh:mm" placeholder="请选择或输入日期" id="date3" btns="{'ok':'确定','now':'此刻'}" ng-model="date3">
                                    </wui-date>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="expense" onclick="show()">费用最少</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="time" onclick="show()">时间最少</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="condition" onclick="show()">限时最省</label>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div id="test" class="form-group" style="display:none;">
                            <select class="form-control" id="ways">
                                <option>-请选择-</option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>




                </div>
                <button class="btn btn-right btn-success pull-right" type="submit">查询</button>

            </div>

        </div>
    </form>
</div>





<!--
{% if all_albums %}
    <h3>Here are you albums:</h3>
    <ul>
        {% for album in all_albums %}
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You don't have any albums</h3>
{% endif %}
-->





{% endblock %}